.wrapper {
  position: relative;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  height: auto;
}

.layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 4px);
  color: #e7e7e7;
  background-color: rgba(0, 27, 124, 0.7);
  visibility: hidden;
}

.wrapper:hover > .layover {
  visibility: visible;
}

.layover h3 {
  position: inherit;
  width: 100%;
  padding: 20px;
  bottom: 0px;
  text-align: right;
}
